.container {
  .top {
    background: url('../../assets/panelTop.png');
  }

  .body {
    height: 200px;
    background: white;
  }

  .bottom {
    background: url('../../assets/panelBottom.png');
  }
}
